.admin form {
    background-color: var(--fundo);
    box-shadow: var(--boxshadow);
    border-radius: var(--border);
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.admin form label {
    margin-bottom: 5px;
}

.admin form input {
    border-radius: var(--borderMenor);
    border: none;
    height: 20px;
    width: 25%;
    padding: 5px;
    margin-bottom: var(--marginh2);
}

.admin form input:focus-visible {
    outline: none;
}

.admin form #enviar {
    cursor: pointer;
    background-color: var(--fundo);
    border: 1px solid var(--principal);
    width: calc(25% + 10px);
    height: 41px;
    padding: 0px;
    color: var(--principal);
    transition: 350ms;
    font-size: 16px;
    align-self: flex-start;
}

.admin form #enviar:hover {
    color: white;
    background-color: var(--principal);
    transition: 350ms;
}

/* Denuncias */

.denunciaSec .denuncia {
    background-color: var(--fundo);
    box-shadow: var(--boxshadow);
    border-radius: var(--border);
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--marginh2);
}

.denunciaSec .denuncia:last-child {
    margin-bottom: 0px;
}

.denuncia p{
    font-style: normal;
    font-weight: 400;
    text-align: justify;
    font-size: 19px;
}

.denuncia .comentario {
    overflow-wrap: anywhere;
    color: var(--principal);
}

.denuncia div {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.denuncia div a {
    cursor: pointer;
    background-color: var(--fundo);
    border: 1px solid var(--principal);
    border-radius: var(--borderMenor);
    color: var(--principal);
    transition: 350ms;
    font-size: 16px;
    padding: 10px;
    width: 25%;
    text-align: center;
    margin-right: 20px;
}

.denuncia div a:hover {
    color: white;
    background-color: var(--principal);
    transition: 350ms;
}