body {
    overflow-y: hidden;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.login {
    width: max-content;
    max-width: 600px;
    background-color: var(--fundo);
    box-shadow: var(--boxshadow);
    padding: 50px;
    border-radius: var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
}

section p {
    text-align: center;
    margin-bottom: var(--marginh2);
    font-size: 18px;
}

section form {
    display: flex;
    flex-direction: column;
}

input {
    width: 300px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: var(--marginh2);
    border: none;
    border-radius: 5px;
    padding-left: 5px;
}

input:last-child {
    border-radius: var(--border);
    background-color: var(--principal);
    color: white;
    height: 40px;
    cursor: pointer;
}

section a {
    font-size: 15px;
    font-weight: 500;
    color: var(--principal);
}

footer {
    position: sticky;
    bottom: 0;
}