:root {
    --marginBanner: 15px;
    --marginLine: 0 10px;
}

.banner {
    padding: 30px;
    background-color: var(--fundo);
    border-radius: var(--border);
    box-shadow: var(--boxshadow);
    display: flex;
    flex-direction: column;
}

.banner div {
    display: flex;
    align-items: center;
    margin-bottom: var(--marginBanner);
}

.banner div:last-child {
    margin-bottom: 0;
}

/* TITULO */

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo i {
    font-size: 25px;
    padding: 10px;
    background-color: var(--fundo);
    width: 25px;
    text-align: center;
    border-radius: 50%;
    box-shadow: var(--boxshadow);
    color: var(--principal);
    cursor: pointer;
}

/* LINHA DE NOME DO USUARIO */

.usuario i {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

.usuario .option {
    margin-left: auto;
}

.usuario .option i {
    background-color: var(--fundo);
    cursor: pointer;
}

.usuario p {
    margin-left: 10px;
    color: var(--letra);
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

/* OPÇOES DO COMENTARIO */

.banner .boxopcoes {
    display: none;
    background-color: var(--fundo);
    box-shadow: var(--boxshadow);
    border: var(--border);
    margin-left: 46px;
    user-select: none;
}

.banner .desativado {
    display: flex;
    animation: fechar 350ms forwards;
}

.banner .ativo {
    display: flex;
    animation: abrir 350ms;
}

.banner .opcoesBtn {
    color: var(--principal);
    align-self: start;
    padding: 10px;
    cursor: pointer; 
}


@keyframes abrir {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
    
}

@keyframes fechar {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
        display: none;
    }
}

.boxopcoes .editarpost {
    margin-left: 46px;
    background-color: var(--fundo);
    font-size: 16px;
    color: var(--principal);
    cursor: pointer;
}


/* BOX DE IDIÇÕES */

.boxeditarpost {
    width: 50%;
    position: fixed;
    display: none;
    flex-direction: column;
    background-color: var(--fundo);
    align-self: center;
    justify-self: top;
    padding: 30px;
    border-radius: var(--border);
    box-shadow: var(--boxshadow);
    top: 200px;
}

.boxeditarpost.ativo {
    display: flex;
}

.boxeditarpost .titulo h2{
    margin-bottom: 0;
}

.boxeditarpost .label {
    margin-bottom: 0;
}

.boxeditarpost label, input {
    width: 25%;
    align-self: flex-start;
    padding: 5px;
}

.boxeditarpost div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--marginh2);
}

.boxeditarpost input {
    border-radius: var(--borderMenor);
    border: none;
    height: 20px;
}

.boxeditarpost input:focus-visible {
    outline: none;
}

.boxeditarpost #enviar {
    cursor: pointer;
    background-color: var(--fundo);
    border: 1px solid var(--principal);
    width: calc(25% + 10px);
    height: 41px;
    padding: 0px;
    color: var(--principal);
    transition: 350ms;
    font-size: 16px;
    align-self: flex-end;
}

.boxeditarpost #enviar:hover {
    color: white;
    background-color: var(--principal);
    transition: 350ms;
}

/* LINHA DE INFORMAÇÕES DO FILHO */

.info_filho {
    margin-left: 46px;
}

.info_filho .line {
    height: 18px;
    width: 2px;
    border-radius: var(--border);
    background-color: var(--principal);
    margin: var(--marginLine);
}

.info_filho p{
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: var(--letra);
}

.info_filho .dado {
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    color: var(--letra);
    margin-left: 5px;
}

/* texto */

.comentario {
    text-align: justify;
    line-height: 150%;
    margin-left: 46px;
}

.titulo i {
    font-size: 25px;
    padding: 10px;
    background-color: var(--fundo);
    width: 25px;
    text-align: center;
    border-radius: 50%;
    box-shadow: var(--boxshadow);
    color: var(--principal);
    cursor: pointer;
}

/* LINHA DE NOME DO USUARIO */

.usuario i {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

.usuario p {
    margin-left: 10px;
    color: var(--letra);
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

/* LINHA DE INFORMAÇÕES DO FILHO */

.info_filho .line {
    height: 18px;
    width: 2px;
    border-radius: var(--border);
    background-color: var(--principal);
    margin: var(--marginLine);
}

.info_filho p{
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: var(--letra);
}

.info_filho .dado {
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    color: var(--letra);
    margin-left: 5px;
}

/* texto */

.comentario {
    text-align: justify;
    line-height: 150%;
}

/* FORMS COMENTARIOS */

.comentar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fundo);
    padding: 30px;
    border-radius: var(--border);
}

textarea {
    width: 100%;
    height: 100px;
    display: flex;
    resize: none;
    border-radius: var(--border);
    border: none;
    padding: 10px;
    margin-bottom: var(--marginh2);
}

textarea:focus-visible {
    outline: none;
}

.enviar {
    cursor: pointer;
    background-color: var(--fundo);
    border: 1px solid var(--principal);
    border-radius: var(--borderMenor);
    width: 210px;
    height: 41px;
    padding: 0px;
    color: var(--principal);
    transition: 350ms;
    font-size: 16px;
    align-self: flex-end;
}

.enviar:hover {
    color: white;
    background-color: var(--principal);
    transition: 350ms;
}

/* COMENTARIOS */

.bannerComentario {
    padding: 15px;
    margin-bottom: 20px;
}

.bannerComentario:last-child {
    margin-bottom: 0;
}
