:root {
    --marginFaq: 25px;
    --marginFonte: 15px;
}

details {
    border-radius: var(--border);   
    background-color: var(--fundo);
    margin-bottom: var(--marginFaq);
    box-shadow: var(--boxshadow);
    padding: 0 30px;
}

details i {
    z-index: 0;
    transform: rotate(0deg);
    transition: 350ms;
}

details[open] i {
    transform: rotate(180deg);
    transition: 350ms;
}

summary {
    all: unset;
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    user-select: none; 
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

details p {
    padding: 30px 0;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 148.023%;
}