@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --principal: rgb(20, 131, 135);
    --principalHover:rgb(47, 156, 160);
    --letra: rgb(0, 0, 0);
    --fundo: rgb(245, 243, 240);
    
    --respiro: 0px 120px;
    --margin: 40px 0px;
    --marginh2: 20px;
    --marginh3: 20px 0 10px 0px;
    
    --border: 20px;
    --borderMenor: 8px;
    --boxshadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

body {
    margin-top: 124px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

section {
    padding: var(--respiro);
    margin: var(--margin);
}

/* TIPOGRAFIA GERAL */

h1{
    width: 730px;
    font-family: Bebas Neue;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    color: var(--principal);
}

h2{
    font-family: Nunito Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    color: var(--principal);
    margin-bottom: var(--marginh2);
}

h3 {
    font-size: 22px;
    color: var(--letra);
    margin: var(--marginh3);
}


/* HEADER -------------- */

header {
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 240px);
/*Positioning stuff*/
    position: fixed;
    top: 0;
/*Box model stuff*/
    height: 100px;
    padding: var(--respiro);
    border-bottom: 5px solid var(--principal);
    background-color: rgba(250, 250, 250, 0.4);
/*Miscellaneous*/
    backdrop-filter: blur(10px);
    user-select: none;
    z-index: 1;
}

header img {
    width: 55px;
    padding: 10px;
    border-radius: var(--border);
    box-shadow: var(--boxshadow);
    background-color: rgb(250, 250, 250);
}

header .btnProfile {
    cursor: pointer;
    padding: 10px;
    border-radius: var(--border);
    box-shadow: var(--boxshadow);
    background-color: rgb(250, 250, 250);
}

header i {
    color: var(--principal);
    font-size: 30px;
    margin: 0px 5px;
}

header i:hover {
    color: var(--principalHover);
}

header i:last-child {
    font-size: 25px;
}

header a {
    color: var(--letra);
    margin: 0px 10px;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
}

header > nav a:hover {
    color: var(--principalHover);
}

header .user {
    display: flex;
    align-items: center;
}

/* BOX LOGIN */

.arrow {
    transform: rotate(0deg);
    transition: 350ms;
}

.arrowativo {
    transform: rotate(180deg);
    transition: 350ms;
}

header .boxLogin {
/*Display stuff*/
    display: none;
    flex-direction: column;
    justify-content: center;
/*Positioning stuff*/
    position: absolute;
    right: 105px;
    top: 80px;
/*Box model stuff*/
    padding: 10px;
    border-radius: var(--border);
    background-color: white;
    margin-top: 10px;
/*Miscellaneous*/
    box-shadow: var(--boxshadow);
}

header .boxLogin > a {
    color: var(--letra);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    padding: 5px;
}

header .boxLogin.ativo {
    display: flex;
}

header .boxLogin p {
    color: var(--letra);
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
    cursor: auto;
}


header .boxLogin .logout {
    color: var(--principal);
    padding: 5px 0 0 5px ;
    font-size: 18px;
    margin: 0;
}

/* FOOTER -------------- */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--respiro);
    height: 100px;
    background-color: var(--principal);
}

footer img {
    width: 55px;
    height: 50px;
}

footer > p {
    color: white;
}

footer .sigaMe {
    display: flex;
    background-color: white;
    align-items: center;
    border-radius: var(--border);
    padding: 10px;
    color: var(--principal);
}

.sigaMe:hover {
    color: var(--principalHover);
}

.sigaMe p {
    font-family: Bebas Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.sigaMe i {
    margin-left: 10px;
}