/* CONFIG GERAIS DAS SECTIONS */

:root {
    --marginColorido: 40px 120px;
}

section div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.colorido {
    background-color: var(--fundo);
    padding: var(--marginColorido);
}

.colorido:last-child {
    margin-bottom: 0;
}

/* TIPOGRAFIA -------------- */

section p {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    text-align: justify;
    line-height: 220%;
    font-size: 18px;
}

section li {
    line-height: 150%;
    margin-bottom: 5px;
    margin-left: 15px;
}

section li:last-child {
    margin-bottom: 0px;
}

/* Primeira section */

.mySon div {
    margin-top: -100px;
}

.mySon p {
    line-height: 220%;
    font-size: 18px;
}

section:first-child p {
    width: 65%;
    align-self: flex-end;
}

section img {
    height: 300px;
}

/* Segunda section */

section.colorido h2 {
    color: var(--letra);
    margin-bottom: 20px;
}

/* Terceira section */

.tratamento div {
    display: flex;
    flex-direction: column;
    align-items: start;
}



/* Ajuste na section "trienios" pagina PROADI */

.trienios div {
    flex-direction: column;
    align-items: start;
}
