:root {
    --marginBanner: 15px;
    --marginLine: 0 10px;
}

.banner {
    padding: 30px;
    background-color: var(--fundo);
    border-radius: var(--border);
    box-shadow: var(--boxshadow);
    display: flex;
    flex-direction: column;
}

.banner div {
    display: flex;
    align-items: center;
    margin-bottom: var(--marginBanner);
}

.banner div:last-child {
    margin-bottom: 0;
}

/* TITULO */

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo i {
    font-size: 25px;
    padding: 10px;
    background-color: var(--fundo);
    width: 25px;
    text-align: center;
    border-radius: 50%;
    box-shadow: var(--boxshadow);
    color: var(--principal);
    cursor: pointer;
}

/* LINHA DE NOME DO USUARIO */

.usuario i {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

.usuario p {
    margin-left: 10px;
    color: var(--letra);
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

/* LINHA DE INFORMAÇÕES DO FILHO */

.info_filho .line {
    height: 18px;
    width: 2px;
    border-radius: var(--border);
    background-color: var(--principal);
    margin: var(--marginLine);
}

.info_filho p{
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: var(--letra);
}

.info_filho .dado {
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    color: var(--letra);
    margin-left: 5px;
}

/* COMENTARIO */

.comentario {
    text-align: justify;
    line-height: 150%;
}