<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/comentario.css" />


    {% extends "template.html" %}
    {% block conteudo %}
    <main>
        <section>
            <div class="titulo">
                <h1>História de {{ post.nome_filho }}</h1>
                <i onclick="window.location = '/comunidade '" class="fa-solid fa-xmark"></i> 
            </div>
            <div class="banner">
                <div class="usuario">
                    <i class="fa-solid fa-user-large"></i>
                    <p class="post_nome">{{ post.nome }}</p>
                </div>
                <div class="info_filho">
                    <p>História do(a):</p><span class="dado">{{ post.nome_filho }}</span>
                    <span class="line"></span>
                    <p>Nascimento: </p><span class="dado">{{ post.nascimento.strftime('%d/%m/%Y') }}</span>
                </div>
                <div class="comentario">
                    {{ post.comentario }}
                </div>
            </div>
        </section>
    </main>
    {% endblock %}
    </body>

</html>