<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/comentario.css" />
    <script defer src="../static/Js/comentarios.js"></script>


    {% extends "template.html" %}
    {% block conteudo %}
    <main>
        <section>
            <div class="titulo">
                <h1>História de {{ post.nome_filho }}</h1>
                <i onclick="window.location = '/comunidade '" class="fa-solid fa-xmark"></i>
            </div>
            <input type="hidden" name="id" value="{{ id }}">
            <div class="banner">
                {% if post.fk_email == session['usuario_logado'] or perfil.admin == True %}
                <div class="usuario">
                    <i class="fa-solid fa-user-large"></i>
                    <p class="post_nome">{{ post.nome }}</p>
                    <div class="option">
                        <i class="opcoes fa-solid fa-ellipsis-vertical"></i>
                        <a href="denunciarpost?q={{ post.id }}"><i class="fa-solid fa-triangle-exclamation"></i></a>
                    </div>
                </div>
                <div class="boxopcoes">
                    <a class="opcoesBtn" href="deletarpost?q={{ post.id }}">Excluir post</a>
                    <p class="opcoesBtn editarBtn">Editar post</p>
                </div>
                <form action="editarpost" method="post" class="boxeditarpost">
                    <div class="titulo">
                        <h2>Editar publicação</h2> 
                        <i class="opcoesFechar fa-solid fa-xmark"></i>
                    </div>
                    <textarea name="comentario" id="comentario">{{ post.comentario }}</textarea>
                    <div class="label">
                        <label for="nome">Nome do filho:</label>
                        <label for="nascimento">Data de nascimento:</label>
                        <label for="transplante">Data do transplante:</label>
                    </div>
                    <div>
                        <input type="hidden" name="id" value="{{ post.id }}">
                        
                        <input required="required" type="text" name="nome" id="nome" value="{{ post.nome_filho }}">
                        
                        <input required="required" type="date" value="{{ post.nascimento }}" name="nascimento" id="nascimento">
                        
                        <input placeholder="Data do transplante" type="date" value="{{ post.transplante }}" name="transplante" id="transplante">
                    </div>
                    <input id="enviar" type="submit">
                </form>
                {% else %}
                <div class="usuario">
                    <i class="fa-solid fa-user-large"></i>
                    <p class="post_nome">{{ post.nome }}</p>
                </div>
                {% endif %}
                {% if post.transplante == None %}
                <div class="info_filho">
                    <p>História do(a):</p><span class="dado">{{ post.nome_filho.title() }}</span>
                    <span class="line"></span>
                    <p>Nascimento: </p><span class="dado">{{ post.nascimento.strftime('%d/%m/%Y') }}</span>
                </div>
                {% else %}
                <div class="info_filho">
                    <p>História do(a):</p><span class="dado">{{ post.nome_filho }}</span>
                    <span class="line"></span>
                    <p>Nascimento: </p><span class="dado">{{ post.nascimento.strftime('%d/%m/%Y') }}</span>
                    <span class="line"></span>
                    <p>Transplante: </p><span class="dado">{{ post.transplante.strftime('%d/%m/%Y') }}</span>
                </div>
                {% endif %}
                <div class="comentario">
                    {{ post.comentario }}
                </div>
            </div>
        </section>
        {% if 'usuario_logado' in session and session['usuario_logado'] != None %}
        <section>
            <form class="comentar" action="comentar" method="post">
                <input type="hidden" name="id" value="{{ id }}">
                <textarea required="required" placeholder="Escreva um comentario *" name="boxcomentar" id=""></textarea>
                <button class="enviar" type="submit">Comentar</button>
            </form>
        </section>
        <section class="comentarios">
            <div class="titulo">
                <h3>Comentarios</h3>
            </div>
            {% else %}
            <section class="comentarios">
                <div class="titulo">
                    <h3>Comentarios</h3>
                    <p>Logue pra conseguir comentar no post</p>
                </div>
                {% endif %}
                {% for comentarios in comentarios %}
                <div class="banner bannerComentario">
                        {% if comentarios.fk_email == session['usuario_logado'] or perfil.admin == True %}
                        <div class="usuario">
                            <input type="hidden" name="comentario.id" value="{{ comentarios.id }}">
                            <input type="hidden" name="id" value="{{ id }}">
                            <i class="fa-solid fa-user-large"></i>
                            <p class="post_nome">{{ comentarios.nome }}</p>
                            <div class="option">
                                <i class="opcoes fa-solid fa-ellipsis-vertical"></i>
                                <a href="denunciarcomentario?q={{ comentarios.id }}"><i class="fa-solid fa-triangle-exclamation"></i></a>
                            </div>
                        </div>
                        <div class="boxopcoes">
                            <a class="opcoesBtn" href="deletarcomentario?q={{ comentarios.id }}">Excluir post</a>
                            <p class="opcoesBtn editarBtn">Editar comentario</p>
                        </div>
                        <form action="editarcomentario" method="post" class="boxeditarpost">
                            <div class="titulo">
                                <h2>Editar comentario</h2> 
                                <i class="opcoesFechar fa-solid fa-xmark"></i>
                            </div>
                            <div class="label">
                                <label for="comentario">Comentario:</label>
                            </div>
                            <input type="hidden" name="id" value="{{ post.id }}">
                            <input type="hidden" name="comentario.id" value="{{ comentarios.id }}">
                            <textarea name="comentario" id="comentario">{{ comentarios.comentario }}</textarea>
                            <input id="enviar" type="submit">
                        </form>
                        {% else %}
                        <div class="usuario">
                            <i class="fa-solid fa-user-large"></i>
                            <p class="post_nome">{{ comentarios.nome }}</p>
                        </div>
                        {% endif %}
                        <div class="comentario">
                            {{ comentarios.comentario }}
                        </div>
                </div>
                {% endfor %}
            </section>
    </main>
    {% endblock %}
    </body>

</html>