<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/comunidade.css" />
    <script defer src="../static/Js/comunidade.js"></script>

    
    {% extends "template.html" %}
    {% block conteudo %}
    <main>
            {% if 'usuario_logado' not in session or session['usuario_logado'] == None: %}
            <section>
                <h1>COMUNIDADE</h1>
                <p>Contribua com nossa comunidade escrevendo a história de seu filho(a)! Para publicar é necessário efetuar o login ou se cadastrar em nosso site.</p>
            </section>
            <section class="secBanners">
            {% else %}
            <section>
                <h1>COMUNIDADE</h1>
                <p>Contribua com nossa comunidade escrevendo a história de seu filho(a)!</p>
            </section>
            <section class="secBanners">
            <div class="boxLogin">
                <section class="publicar">
                    <form action="postar" method="post">
                        <textarea required="required" placeholder="Escreva a história do seu filho aqui *   " name="comentario" id="comentario"></textarea>
                        <div class="publicarInput">
                            <input required="required" placeholder="Nome do seu filho *" type="text" name="nome" id="nome">
                            <input required="required" placeholder="Data de nascimento *" type="text" onfocus="(this.type = 'date')" name="nascimento" id="nascimento">
                            <input placeholder="Data do transplante" type="text" onfocus="(this.type = 'date')" value="" name="transplante" id="transplante">
                        </div>
                        <div class="publicarEnviar">
                            <label class="image" for="image">Enviar fotos</label>
                            <input type="file" accept="image/*" name="image" id="image">
                            <input type="submit" name="enviar" id="enviar">
                        </div>
                    </form>
                </section>
            </div>
            {% endif %}
            {% for post in posts %}
            <form class="banner" action="/processar?q={{ post.id }}" onclick="this.submit()" method="post" >
                <input type="hidden" name="id" id="id" value="{{ post.id }}">
                <div class="usuario">
                    <i class="fa-solid fa-user-large"></i>
                    <p class="post_nome">{{ post.nome.title() }}</p>
                </div>
                <div class="infopost">
                    <p>História do(a):<span class="dado">{{ post.nome_filho.title() }}</span></p>
                    <span class="line"></span>
                    <p>Nascimento: <span class="dado">{{ post.nascimento.strftime('%d/%m/%Y')}}</span></p>
                    {% if post.transplante == None %}

                    {% else %}
                    <span class="line"></span>
                    <p>Transplante: <span class="dado">{{ post.transplante.strftime('%d/%m/%Y') }}</span></p>
                    {% endif %}
                </div>
            </form>

            {% endfor %}
        </section>
    </main>
    {% endblock %}
</body>

</html>