<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="../static/faq.css" />

    
    {% extends "template.html" %}
    {% block conteudo %}
    <main>
        <section>
            <h1>PERGUNTAS FREQUENTES</h1>
        </section>
        <section class="faq">
            {% for i in askFaq %}
            <details>
                <summary>{{ i[1] }} <i class="fa-solid fa-chevron-down"></i></summary>
                <hr>
                <p>{{ i[0] }}</p>
            </details>
            {% endfor %}
        </section>
    </main>
    {% endblock %}
</body>

</html>