<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="../static/comunidade.css" />

    
    {% extends "template.html" %}
    {% block conteudo %}
    <main>
        <section>
            <h1>IRC NO BRASIL</h1>
            <p>A IRC no Brasil enfrenta desafios significativos, incluindo acesso limitado à saúde, prevenção inadequada, disponibilidade limitada de tratamentos como diálise e transplante, falta de conscientização, custos financeiros, escassez de doadores de órgãos, falta de especialistas, desafios para crianças, comorbidades e diagnósticos tardios. Apesar dessas dificuldades, esforços estão em curso para melhorar o acesso aos cuidados da IRC e aumentar a conscientização sobre a prevenção e o tratamento no país.</p>
        </section>
        <section>
            <h2>Gráficos</h2>
        </section>
    </main>
    {% endblock %}
</body>

</html>